<section>
    <div class="profile-image">
        <img src="https://scontent.fmnl13-1.fna.fbcdn.net/v/t39.30808-6/283896675_114750581241255_1367888653709728419_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=a73e89&_nc_eui2=AeGE1k7C86w1QRcxyHj0RrTe5SbapanDsAvlJtqlqcOwC4Kg4WGUn3leaEGAl9PDhaX-vVdoQYEjaPjP198LPHCx&_nc_ohc=Poj3IsMxwTMAX_t51gt&_nc_ht=scontent.fmnl13-1.fna&oh=00_AfD_EbSN4VyNP5AUWpJcV36Dt8MTBgG7t3h7tWMgEBWN5w&oe=656C91B7" alt="Your Profile Image">
    </div>
    <h2>Welcome to My Portfolio</h2>
    <h3>HELLO! I AM MYLES OBALANG</h3>
</section>