<section>
    <div class="profile-image">
        <img src="https://scontent.fmnl9-4.fna.fbcdn.net/v/t39.30808-6/285814038_119701817412798_8334673398680279786_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=a73e89&_nc_eui2=AeFawBvlGbQAmS8E2Hjuqem8Mau1m1q3tnQxq7WbWre2dIep7qMfTUOYR2xEWqGzynl2dzbwOm1NSwJNQVo5kkaH&_nc_ohc=U2dWJNlNJrIAX8iq5Pc&_nc_ht=scontent.fmnl9-4.fna&oh=00_AfAjZCaKjjt_7OY98gBIT2Ind4JeWu46WP2eNeH9vYfMjg&oe=656D218E" alt="My Profile Image">
    </div>
    <h2>Welcome to My Portfolio</h2>
    <h3>HELLO! I AM MYLES OBALANG</h3>
    <h4>SEMI- PROGRAMMER</h4>
</section>